<div *ngIf="(accountService.currentUser$ | async) as user">

<div *ngIf="user.checkApplicationStatus == true; else other_content">
    <div class="isa_success">
        You already have submitted an application. 
    </div>
</div>
</div>
<ng-template #other_content>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center">

    <mat-card class="my-form">
        <mat-card-header>
            <mat-card-title class="titleMargin">Create Application</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <mat-card-content style="margin: 20px;">
                <form [formGroup]='applicationForm'>
                    <mat-form-field class="full-width titleMargin">
                        <mat-label>Description of Issue</mat-label>
                        <input matInput formControlName='issue' placeholder="Issue" required>
                        <mat-error>
                            Issue is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Subject of Difficulty</mat-label>
                        <input matInput formControlName='course' placeholder="Course" required>
                        <mat-error>
                            Subject is required
                        </mat-error>
                    </mat-form-field>
                    <div class="cdk-visually-hidden" *ngIf="(accountService.currentUser$ | async) as user">
                        <mat-form-field class="full-width cdk-visually-hidden" >
                            <mat-label>Username</mat-label>
                            <input matInput formControlName='userName' [(ngModel)]="user.userName" readonly>
                        </mat-form-field>
                    </div>
                </form>
            </mat-card-content>
        </mat-card-content>
        <mat-card-actions style="margin: 10px;;">
            <button mat-raised-button (click)="application()" color="primary">Create Application</button>
            <button routerLink="/home/welcome" mat-raised-button>Cancel</button>
        </mat-card-actions>
    </mat-card>
</div>
</ng-template>