<div *ngIf="application">
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center">

        <mat-card class="my-form">
            <mat-card-header>
                <mat-card-title class="titleMargin">Student Submitted Application</mat-card-title>
            </mat-card-header>

            <mat-card-content *ngFor="let student of members$ | async">


                <mat-card-content *ngIf="student.id == application.appUserId">
                    <form [formGroup]='applicationForm'>

                        <mat-form-field class="full-width titleMargin">
                            <mat-label>Issue</mat-label>
                            <input matInput formControlName='issue' [(ngModel)]="application.issue" readonly>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName='name' [(ngModel)]="student.firstName" readonly>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <mat-label>Course</mat-label>
                            <input matInput formControlName='course' [(ngModel)]="application.course" readonly>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName='userName' [(ngModel)]="student.username" readonly>
                        </mat-form-field>

                    </form>
                </mat-card-content>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="approve()" color="primary">Approve Application</button>
                <button mat-raised-button color="warn" >Reject Application</button>
                <button routerLink="/home/applications" mat-raised-button>Cancel</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>