<div *ngIf="application">
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center">

        <mat-card class="my-form">
            <mat-card-header>
                <mat-card-title class="titleMargin">Student Submitted Application</mat-card-title>
            </mat-card-header>

            <mat-card-content *ngFor="let student of members$ | async">


                <mat-card-content *ngIf="student.id == application.appUserId">
                    <form [formGroup]='applicationForm'>

                        <mat-form-field class="full-width titleMargin">
                            <mat-label>Issue</mat-label>
                            <input matInput formControlName='issue' [(ngModel)]="application.issue" readonly>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName='name' [(ngModel)]="student.firstName" readonly>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <mat-label>Subject</mat-label>
                            <input matInput formControlName='course' [(ngModel)]="application.course" readonly>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName='userName' [(ngModel)]="student.username" readonly>
                        </mat-form-field>

                    </form>
                </mat-card-content>
            </mat-card-content>
            <mat-card-content *ngFor="let student of members$ | async">


                <mat-card-content *ngIf="student.id == application.appUserId && application.applicationStatusId == 2">
                    <form [formGroup]='assignTutorForm'>

                        <div class="cdk-visually-hidden">
                            <mat-form-field  class="cdk-visually-hidden">
                                <mat-label>Username</mat-label>
                                <input matInput formControlName='studentEmail' [(ngModel)]="student.username" readonly>
                            </mat-form-field>
                        </div>

                        <mat-form-field appearance="fill">
                            <mat-label>Select Tutor</mat-label>
                            <mat-select formControlName='tutorEmail'>
                                <div *ngFor="let tutor of members$ | async">
                              <mat-option *ngIf="tutor.userType == 'Tutor'"  [value]="tutor.username">
                                  <div >
                                {{tutor.username}}
                            </div>
                              </mat-option>
                            </div>
                            </mat-select>
                          </mat-form-field>
                    </form>
                </mat-card-content>
            </mat-card-content>
            <mat-card-actions>
                <button *ngIf="application.applicationStatusId == 3" mat-raised-button (click)="approve()" color="primary">Approve Application</button>
                <button *ngIf="application.applicationStatusId == 2" mat-raised-button (click)="assign()" color="primary">Assign Tutor</button>
                <button *ngIf="application.applicationStatusId == 3" mat-raised-button (click)="reject()" color="warn" >Reject Application</button>
                <button routerLink="/home/applications" mat-raised-button>Cancel</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>