
<div class="content">
    <div *ngIf="(accountService.currentUser$ | async) as user">
    <h1 *ngIf="user.userType == 3" class="mat-display-1">List of Tutors</h1>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div *ngFor="let member of members">
            
            <div *ngIf="member.userType == 'Tutor' && user.userType == 3">
            <app-member-card [member]="member"></app-member-card>
        </div>
    </div>
</div>
</div>
<div *ngIf="(accountService.currentUser$ | async) as user">
    <h1 *ngIf="user.userType == 2" class="mat-display-1">List of Students</h1>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div *ngFor="let member of members">
            
            <div *ngIf="member.userType == 'Student' && user.userType == 2">
            <app-member-card [member]="member"></app-member-card>
        </div>
    </div>
</div>
</div>
<div *ngIf="(accountService.currentUser$ | async) as user">
    <h1 *ngIf="user.userType == 1" class="mat-display-1">List of Students and Tutors</h1>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div *ngFor="let member of members">
            
            <div *ngIf="user.userType == 1">
            <app-member-card [member]="member"></app-member-card>
        </div>
    </div>
</div>
</div>
</div>
<div *ngIf="pagination">
    <mat-paginator 
                  [length]="pagination.totalItems"
                  [pageSize]="pagination.itemsPerPage"
                  [pageSizeOptions]="[10, 25, 50, 100]"
                  (page) = "pageChanged($event)">
    </mat-paginator>
    </div>
