<mat-nav-list>
    <a
    routerLink="/" 
    (click)="onSidenavClose()" mat-list-item>
      <mat-icon>home</mat-icon>
      <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item
    (click)="onSidenavClose()">
   <mat-icon>list</mat-icon>
   <span>
     List Tutor
   </span>
 </a>
 <a mat-list-item
 routerLink="register"
 (click)="onSidenavClose()">
<mat-icon>person_add</mat-icon>
<span>
  Add User
</span>
</a>
 <a mat-list-item
    (click)="onSidenavClose()">
   <mat-icon>insert_drive_file</mat-icon>
   <span>
     Book Appointment
   </span>
 </a>
 <a mat-list-item
    (click)="onSidenavClose()">
   <mat-icon>mail</mat-icon>
   <span>
     Email
   </span>
 </a>
  </mat-nav-list>
  