<mat-nav-list>
  <a routerLink="/" (click)="onSidenavClose()" mat-list-item>
    <mat-icon>home</mat-icon>
    <span class="nav-caption">Home</span>
  </a>
  <div *ngIf="(accountService.currentUser$ | async) as user">
    <app-admin-menu (sidenavClose) = "onSidenavClose()" *ngIf="user.userType == 1"></app-admin-menu>
    <app-tutor-menu (sidenavClose) = "onSidenavClose()" *ngIf="user.userType == 2"></app-tutor-menu>
    <app-student-menu (sidenavClose) = "onSidenavClose()" *ngIf="user.userType == 3"></app-student-menu>

  </div>
</mat-nav-list>