
            <mat-card class="mat-elevation-z4 card">
                <mat-card-header>
                    <mat-card-title>{{member.knownAs}}</mat-card-title>
                </mat-card-header>
                <div class="image-wrapper">
                <img mat-card-image src="{{member.photoUrl || './assets/user.png'}}" alt="Photo of {{member.knownAs}}">
            </div>
                <mat-card-content>
                    <p>
                        {{member.city}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button 
                    mat-raised-button 
                    color="primary" 
                    routerLink="{{member.username}}" 
                    mat-button>
                        VIEW
                    </button>
                    <button mat-raised-button color="warn" (click)="notImplemented()">Delete</button>
                </mat-card-actions>
            </mat-card>
