<div div fxLayout="row" fxLayoutGap="32px" *ngIf="member">
    <mat-card class="example-card">
        <img mat-card-image src="{{member.photoUrl || './assets/user.png'}}" alt="Photo of {{member.firstName + member.lastName}}">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
            <div>
                <strong>Name:</strong>
                <p>{{member.firstName + " " + member.lastName}}</p>
            </div>
            <div>
                <strong>Type:</strong>
                <p>{{typeName()}}</p>
            </div>
            <div>
                <strong>Email Address</strong>
                <p>{{member.email}}</p>
            </div>
            <div>
                <strong>Phone</strong>
                <p>{{member.phone}}</p>
            </div>
            <div *ngIf="member.userType == 'Student'">
                <strong>K Number</strong>
                <p>{{member.studentId}}</p>
            </div>
            <div>
                <strong>Last Active</strong>
                <p>{{member.lastActive | timeago}}</p>
            </div>
        </mat-card-content>
        <mat-card-actions style="text-align: center;">
            <button mat-raised-button routerLink="/home/members" mat-button>Go Back</button>
        </mat-card-actions>
    </mat-card>
    <mat-tab-group class="tabs" mat-align-tabs="start">
        <mat-tab label="Messages">
            <app-member-messages [username]="member.username"></app-member-messages>
        </mat-tab>

        <mat-tab label="About {{member.firstName}}">
            <h1>Description</h1>
            <ul>
                <li>Thorough knowledge of a specific academic subject or expertise in test preparation
                </li>
                <li>Strong verbal and written communication skills to clearly explain challenging concepts, provide instructions and deliver feedback
                </li>
                <li>Ability to motivate and encourage students to improve their academic performance using effective goal-setting strategies
                </li>
                <li>Creativity and flexibility in order to personalize their learning approach for individual students
                </li>
                <li>Patience and compassion for students as they develop skills and improve their performance
                </li>
                <li>Previous demonstrated excellence in the academic subject they plan to tutor in or on the test they're helping students prepare for
                </li>
                <li>Optional certification from the National Tutoring Association, American Tutoring Association, Association for the Coaching and Tutoring Profession or the College Reading and Learning Association
                </li>
            </ul>
           </mat-tab>
      </mat-tab-group>
</div>