<div class="page-title">
  <h1 style="font-family: cursive;" class="mat-display-1">Submitted Applications</h1>
</div>

<div *ngFor="let student of members$ | async; let i = index">
  
    <mat-accordion *ngIf="student.applicationSubmitted == true && student.userType == 'Student'">
        <mat-expansion-panel  >
          <mat-expansion-panel-header>
            <mat-panel-title class="md-title">
              {{student.firstName + ' ' + student.lastName}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngFor="let applications of applications$ | async">
          <div *ngIf="applications.appUserId == student.id">
    
            <a routerLink="{{applications.id}}"> View Application</a>
        </div>
      </div>

        </mat-expansion-panel>
      </mat-accordion>
    
      <div *ngIf="student.applicationSubmitted == false && student.userType == 'Student' && i-1 == bb"  class="isa_success">
        Currently no student has submitted any applications.
    </div>
    </div>