<div class="page-title">
  <h1 style="font-family: cursive;" class="mat-display-1">Submitted Applications</h1>
</div>

<div *ngFor="let student of members$ | async; let i = index">
  
    <mat-accordion *ngIf="student.applicationSubmitted == true && student.userType == 'Student'">
        <mat-expansion-panel  >
          <mat-expansion-panel-header>
            <mat-panel-title style="height: 100%; padding-bottom: 2px;"
            fxLayout="row"
            fxLayout.lt-lg="column"
            fxLayoutAlign="center"
            fxLayoutGap="10px"
            fxLayoutGap.lte-md="0">
<div fxFlex="20%">{{ student.firstName + " " + student.lastName}}</div>
<div fxFlex="60%" class="text-lowercase">{{ student.studentId }}</div>
<div fxFlex="20%">{{student.phone }}</div>
</mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngFor="let applications of applications$ | async">
          <div *ngIf="applications.appUserId == student.id">
    
            <a class="link" routerLink="{{applications.id}}"> View Application</a>
        </div>
      </div>

        </mat-expansion-panel>
      </mat-accordion>


    </div>

    <div *ngIf="bb < 1"  class="isa_success">
      Currently no student has submitted any applications.
  </div>