<div *ngIf="member">
  
<div class="page-title">
  <h1 class="mat-display-3">Welcome to Learning Support unit</h1>
</div>
<div *ngIf="(accountService.currentUser$ | async) as user">
  <div>
  <div class="mat-display-1" *ngIf="user.userType == 1">
    <p>Hello Admin</p>
  </div>

  <div class="mat-display-1" *ngIf="user.userType == 2">
    <p>Hello Tutor</p>
  </div>
  

  <div *ngIf="user.userType == 3 && user.checkEmail == member.email">
    <p class="mat-display-2">Hello Student</p>
    <!-- <div *ngIf="member.applicationSubmitted == false" class="isa_info mat-display-1"> 
    <p>You have not submitted any application yet, click <a routerLink="/home/application">here</a> to make one!</p>
  </div> -->
  
    <div *ngIf="application">
      <div class="isa_info mat-display-1"
        *ngIf="application.applicationStatusId == 4">
        <p >You have not submitted any application yet, click <a routerLink="/home/application">here</a> to make one!</p>
      </div>
      <div class="isa_info mat-display-1"
        *ngIf="application.applicationStatusId == 3">
        <p>Please be patient your application is under review.</p>
      </div>
      <div class="isa_success mat-display-1"
        *ngIf="application.applicationStatusId == 2">
        <p>Congratulations! your application has been approved.</p>
        <p *ngIf="application.appUserId == user.id">{{application.tutorId}}</p>
      </div>
      <div class="isa_error mat-display-1"
      *ngIf="application.applicationStatusId == 1">
      <p>Your application has been <span>rejected.</span> Please contact Learning Support Unit for more information.</p>
    </div>

    </div>
</div>
</div>
</div>
</div>