<div *ngIf="(accountService.currentUser$ | async) as user">
<button *ngIf="user.userType == 1" style="margin-top: 100px;" mat-raised-button color="accent">Add Workshop</button>
<button *ngIf="user.userType == 1" style="margin-left: 20px;" mat-raised-button color="warn">Remove Workshop</button>
</div>
<h1 style="margin-top: 50px;"> Academic Writing</h1>
<table class="styled-table" cellpadding="0" cellspacing="0" style="width:718px;" width="718">
	<tbody>
		<tr>
			<td style="width:274px;height:29px;">
			<p ><strong>Workshop</strong></p>
			</td>
			<td style="width:236px;height:29px;">
			<p ><strong>Date</strong></p>
			</td>
			<td style="width:208px;height:29px;">
			<p ><strong>Time</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width:274px;">
			<p>Academic Writing</p>
			</td>
			<td style="width:236px;">
			<p>Tuesday 16<sup>th</sup> Feb</p>
			</td>
			<td style="width:208px;">
			<p>11:00 to 12:00</p>
			</td>
		</tr>
		<tr>
			<td style="width:274px;">
			<p>Academic Writing for Social Care</p>
			</td>
			<td style="width:236px;">
			<p>Tuesday 16<sup>th</sup> Feb</p>
			</td>
			<td style="width:208px;">
			<p>12:00 to 1:00pm</p>
			</td>
		</tr>
		<tr>
			<td style="width:274px;">
			<p>Academic Writing for Mature Students</p>
			</td>
			<td style="width:236px;">
			<p>Wednesday 17<sup>th</sup> Feb</p>
			</td>
			<td style="width:208px;">
			<p>2:00-3:00pm</p>
			</td>
		</tr>
	</tbody>
</table>
<h1 style="margin-top: 50px;"> Maths</h1>
<table class="styled-table" cellpadding="0" cellspacing="0" style="width:718px;" width="718">
	<tbody>
		<tr>
			<td style="width:274px;">
			<p>Maths for Mature Students</p>
			</td>
			<td style="width:236px;">
			<p>Thursday 18<sup>th</sup> Feb: 10:00 to 11:00</p>
			</td>
			<td style="width:208px;">
			<p>10:00-11:00</p>
			</td>
		</tr>
		<tr>
			<td style="width:274px;">
			<p>General First Year Maths</p>
			</td>
			<td style="width:236px;">
			<p>Thursday 18<sup>th</sup> Feb</p>
			</td>
			<td style="width:208px;">
			<p>12:00 to 1:00pm</p>
			</td>
		</tr>
		<tr>
			<td style="width:274px;">
			<p>Engineering Maths</p>
			</td>
			<td style="width:236px;">
			<p>Thursday 18<sup>th</sup> Feb</p>
			</td>
			<td style="width:208px;">
			<p>2:00 to 3:00pm</p>
			</td>
		</tr>
	</tbody>
</table>

<h1 style="margin-top: 50px;"> Study Skills/ Time Management/ Exam Skills</h1>
<table class="styled-table" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:204px;height:38px;">
			<p>Study Skills/ Time Management</p>
			</td>
			<td style="width:278px;height:38px;">
			<p>Friday 19<sup>th </sup>&nbsp;February</p>
			</td>
			<td style="width:214px;height:38px;">
			<p>11:00 – 12:00</p>
			</td>
		</tr>
		<tr>
			<td style="width:204px;height:38px;">
			<p>Exam Skills</p>
			</td>
			<td style="width:278px;height:38px;">
			<p>Friday 19th&nbsp; February</p>
			</td>
			<td style="width:214px;height:38px;">
			<p>12:30 – 1:30pm</p>
			</td>
		</tr>
	</tbody>
</table>