
    <a mat-list-item
    routerLink="members"
    (click)="onSidenavClose()">
   <mat-icon>list</mat-icon>
   <span>
     List Students
   </span>
 </a>
 <a mat-list-item
 routerLink="listApplications"
    (click)="onSidenavClose()">
   <mat-icon>insert_drive_file</mat-icon>
   <span>
     View Applicants
   </span>
 </a>
 <a mat-list-item
 (click)="onSidenavClose()">
<mat-icon>insert_drive_file</mat-icon>
<span>
  View Session Time
</span>
</a>
<a mat-list-item
(click)="onSidenavClose()">
<mat-icon>insert_drive_file</mat-icon>
<span>
 View Workshops
</span>
</a>
 <a mat-list-item
 routerLink="messages"
    (click)="onSidenavClose()">
   <mat-icon>mail</mat-icon>
   <span>
     Messages
   </span>
 </a>
  