
    <a mat-list-item
    routerLink="members"
    (click)="onSidenavClose()">
   <mat-icon>list</mat-icon>
   <span>
     List Tutor
   </span>
 </a>
 <a mat-list-item
    (click)="onSidenavClose()">
   <mat-icon>insert_drive_file</mat-icon>
   <span>
     Request For Learning Support
   </span>
 </a>
 <a mat-list-item
 (click)="onSidenavClose()">
<mat-icon>insert_drive_file</mat-icon>
<span>
  Book Session Time
</span>
</a>
<a mat-list-item
(click)="onSidenavClose()">
<mat-icon>insert_drive_file</mat-icon>
<span>
 View Workshops
</span>
</a>
 <a mat-list-item
 routerLink="messages"
    (click)="onSidenavClose()">
   <mat-icon>mail</mat-icon>
   <span>
     Messages
   </span>
 </a>
  